.feed-change-btn-container {
  /* border: 1px solid rgba(50,50,50,1); */
  padding: 0.5rem 0.3rem;
  margin: 0 0 0 0;
}

.feed-change-btn-container span {
  border-radius: 4px;
  font-size: 0.75rem;
  font-family: 'Maven Pro', sans-serif;
  font-weight: lighter;
  padding: 0.3rem 1rem;
  cursor: pointer;
}