.menu-container {
  height: 30px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  justify-content: space-between;
}

.menu-left-side i {
  margin: 0 0.5rem;
}

.menu-profile-container {
  margin: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
}

.menu-profile-container span {
  margin: 0 0.2rem;
}

.menu-profile-container span:nth-child(1){
  /* box-shadow: 0 0 4px rgba(182, 182, 182, 0.5); */
  margin: 0 1rem 0 0;
}

.menu-user-profile{
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-primary);
}

.menu-user-profile::after {
  content: "^";
  display: inline-block;
  transform: rotate(180deg);
  font-family: 'Source Code Pro';
  position: relative;
  right: 10px;
  bottom: -8px;
  font-size: 0.8rem;
  color: peachpuff;
  background-color: teal;
  height: 10px;
  width: 10px;
  text-align: center;
  border-radius: 10px;
}

.menu-home-btn {
  text-decoration: none;
  color: var(--text-primary);
}

/* The switch - the box around the slider */
.switch {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
  padding: 0 4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  /* --background: #28096b; */
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-secondary);
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 8px -4px 0px 0px #fff000;
  background: var(--text-secondary);
  transition: .5s;
}

input:checked + .slider {
  background-color: var(--text-secondary);
}

input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 15px -4px 0px 15px #fff000;
}

.menu-explore {
  display: none;
}

.menu-profile-img {
  max-width: 30px;
  display: inline-block;
  border-radius: 20px;
}

@media screen and (width >= 690px) {
  .feed-btn-container {
    display: inline-block;
  }
  .menu-explore {
    display: inline-block;
  }
}

@media screen and (width >= 768px) {
  .menu-container{
    padding: 1rem;
  }  
}